.color {
    background-color: #6b7d7d;
    padding: 15px;

}

.blocGestion {
    width: auto;
    height: auto;
    background-color: #6b7d7d;
    padding: 15px;


}

.button-container {
    text-align: center;
    position: relative;

}



.blocInfoClient {
    background-color: #6b7d7d;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    min-height: 142px;
}

.formCache {
    display: none;
    line-height: 1;
    font-size: 14px;
    margin-top: -10px;
}