.color {
    background-color: #6b7d7d;
    padding: 15px;

}

.blocGestion {
    width: auto;
    height: auto;
    background-color: #6b7d7d;
    padding: 15px;


}

.button-container {
    text-align: center;
    position: relative;

}


.btnSupp {
    font-size: 14px;
    max-width: 50%;
    position: relative;
}

.blocInfoClient {
    background-color: #6b7d7d;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    min-height: 142px;
}

.formCache,
.formNouvCadeau {
    display: none;
    line-height: 1;
    font-size: 14px;
    margin-top: -10px;
}

.modifClient {
    width: px;
    display: flex;
    position: relative;
    max-height: 15px;
    font-size: small;

}

h1 {
    position: relative;
}

.aperImg {
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;
    min-width: 30px;
    min-height: 30px;
    max-width: 70px;
    max-height: 70px;
}