body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #6b7d7d;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px; 
}

.card-title {
    background-color: #6b7d7d;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0; 
    text-align: center;
}

.card-body {
    background-color: #ddd; 
    color:#6b7d7d;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc;
}

.btn-container {
    color:#4a9068
}