body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head {
    text-align: center;
    background-color: #6b7d7d;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
}

.container-fluid {
    padding: 0px;
}


.btn-danger {
    margin: 10px;
    width: 150px;


}

.info {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.input-group {
    text-align: center;
}

.card-title {
    background-color: #6b7d7d;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.card-body {
    background-color: #ddd;
    color: #6b7d7d;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.col-md-6 {
    padding: 45px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc;
}

.titre_cadeau {
    font-size: smaller;
}

.btn-container {
    color: #4a9068
}

.titre_cadeau {
    color: rgb(29, 28, 34);
    text-decoration: underline;
}

.point {
    color: rgb(96, 79, 79);
}

.card-body image1,
.card-body image2,
.card-body image3,
.card-body image4,
.card-body image5,
.card-body image6,
.card-body image7,
.card-body image9,
.card-body image10,
.card-body image11,
.card-body image12,
.card-body image13 {
    width: 350px;
    height: 10px;

}


.card-body image8,
.card-body image15,
.card-body image14 {
    width: 250px;
    height: 250px;
}