<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuration -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RESMU</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="/style/index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="main-title">Bienvenue sur la page d'accueil</h1>
        <div class="row">
            <div class="col-md-6"> <!-- Colonne pour les cadeaux -->
                <div class="card">
                    <div class="card-title">Liste des cadeaux :</div>
                    <div class="card-body">
                        <ul>
                            <!-- Boucle pour afficher les cadeaux -->
                            <% for(let cadeau of cadeaux) { %>
                            <li>
                                <%= cadeau.nom_cadeau %> - <%= cadeau.points_cadeau %> - <img id="img1" src="<%=cadeau.image_cadeau %>" alt="Image de 2mousquetons">
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> <!-- Colonne pour la panier (vide pour l'instant) -->
                <div class="card">
                    <div class="card-title">Panier :</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
