<!-- e fichier definira la page d'accueil/le site personnalisé pour le client -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <!--"configuration"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style/style.css" rel="stylesheet">

    <title>RESMU</title>
</head>

<body>

    <!--MESSAGES D'ALERTE-->
    <% if (estDeco) { %>
        <script>alert("Vous allez être déconnecté.");
            setTimeout(function () {
                location.reload(); //rafraichit après avoir fermé la page => ramene à la page de connexion
            }, 300);
        </script>
        <% } %>
            <!--FIN DES MESSAGES D'ALERTE-->

            <h1>Bienvenue sur la page d'accueil</h1>
            <h2>Liste des cadeaux :</h2>

            <ul>
                <% cadeaux.forEach(function(cadeau, i) { %>
                    <li>
                        <%= cadeau.nom_cadeau %> - <%= cadeau.points_cadeau %> - <img class="image<%= i + 1 %>"
                                    src="<%=cadeau.image_cadeau %>">
                    </li>
                    <% }); %>
            </ul>



</body>

</html>