<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Configuration -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RESMU</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="/style/index.css" rel="stylesheet">

</head>

<body>


    <!--MESSAGES D'ALERTE-->
    <% if (estDeco) { %>
        <script>alert("Vous allez être déconnecté.");
            setTimeout(function () {
                location.reload(); //rafraichit après avoir fermé la page => ramene à la page de connexion
            }, 300);
        </script>
        <% } %>
            <!--FIN DES MESSAGES D'ALERTE-->


            <div class="container">
                <h1 class="main-title">Bienvenue sur la page d'accueil</h1>
                <div class="row">
                    <div class="col-md-6"> <!-- Colonne pour les cadeaux -->
                        <div class="card">
                            <div class="card-title">Liste des cadeaux :</div>
                            <div class="card-body">
                                <ul>
                                    <!-- Boucle pour afficher les cadeaux -->
                                    <% cadeaux.forEach(function(cadeau, i) { %>
                                        <li>
                                            <h3 class="titre_cadeau">
                                                <%=cadeau.nom_cadeau %> :
                                            </h3>
                                            <p class="point">
                                                <%= cadeau.points_cadeau %> pts
                                            </p>
                                            <img class="image<%= i + 1 %>" src="<%=cadeau.image_cadeau %>">
                                            <div class="btn-container">
                                                <!-- Conteneur pour centrer le bouton -->
                                                <br>
                                                <button class="btn btn-success">Ajouter au panier</button>
                                                <br><br>
                                                <!-- Bouton "Ajouter au panier" -->
                                            </div>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> <!-- Colonne pour la panier (vide pour l'instant) -->
                        <div class="card">
                            <div class="card-title">Panier :</div>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>